<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="advice" class="com.mouse.InvocationHandler.Advice.TimeShowBeforAdvice"/>
       <bean id="target" class="com.mouse.InvocationHandler.InterfaceImpl.IObjectImpl"/>

       <bean id="objectImpl" class="org.springframework.aop.framework.ProxyFactoryBean">
              <property name="target" ref="target"/>
              <property name="interceptorNames" value="advice"/>
              <property name="proxyTargetClass" value="true"/>
       </bean>
</beans>
